@using Kanopy.Helpers
@model Kanopy.Models.AssignUserRoleViewModel


<div class="content-wrapper bg-gradient-gray-dark">
    <div class="container">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-white">User Roles</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="~/Home/Index">Dashboard</a></li>
                            <li class="breadcrumb-item active text-white">Admin Functions</li>
                        </ol>
                    </div>
                </div><!-- /.row -->

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="row" style="padding-bottom:20px">
            <div class="col-lg-10 offset-1">

                <div class="card">
                    <div class="card-header" style="color:black">
                        <h2 class="card-title">
                            Assign Role
                        </h2>
                    </div><!-- /.card-header -->
                    <div class="card-body bg-cyan">
                        <div class="tab-content p-0">
                            <div class="chart tab-pane active" id="local-login"
                                 style="position: relative; height: 225px;">
                                <div class="form-group">

                                    @using (Html.BeginForm("AssignUserRole", "Roles", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.Label("User List", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(m => m.UserId, null, htmlAttributes: new { @class = "form-control" })
                                                    @*@Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.Label("Role List", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(m => m.RoleName, null, htmlAttributes: new { @class = "form-control" })
                                                    @*@Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Submit" class="btn btn-default" />
                                                </div>
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="color:black">
                        <h2 class="card-title">
                            Roles
                        </h2>
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <button type="button" class="btn btn-tool" style="color:darkgray" data-card-widget="collapse">
                                    <i class="fas fa-minus" style="padding-top: 15px"></i>
                                </button>
                            </ul>

                        </div>

                    </div><!-- /.card-header -->
                    <div class="card-body bg-cyan">
                        <div class="tab-content p-0">
                            <div class="chart tab-pane active overflow-auto" id="local-login"
                                 style="position: relative; height: 225px;">
                                <table class=" table">
                                    <tr>
                                        <th>
                                            User Name
                                        </th>
                                        <th>
                                            Roles
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model.UserRoles)
                                    {
                                        <tr>
                                            <td>
                                                @item.UserName
                                            </td>
                                            <td>
                                                @item.RoleName
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
