@model Kanopy.Models.ChangeNameViewModel

<div class="content-wrapper bg-gradient-gray-dark">
    <div class="container">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-white">Profile</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="~/Home/Index">Profile</a></li>
                            <li class="breadcrumb-item active text-white">Change Name</li>
                        </ol>
                    </div>
                </div><!-- /.row -->

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->


        <div class="card">
            <div class="card-header" style="color:black">
                <h2 class="card-title">
                    Change Name Form
                </h2>
            </div><!-- /.card-header -->
            <div class="card-body bg-cyan">
                <div class="tab-content p-0">
                    <div class="chart tab-pane active" id="local-login"
                         style="position: relative; height: 325px;">
                        <div class="form-group">

                            @using (Html.BeginForm("ChangeName", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.OldFirstName, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-10">
                                                    @Model.OldFirstName
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.NewFirstName, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(m => m.NewFirstName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.OldLastName, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-10">
                                                    @Model.OldLastName
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.NewLastName, new { @class = "col-md-12 control-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(m => m.NewLastName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Submit" class="btn btn-default" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div><!-- /.card-body -->
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
