@model IEnumerable<Kanopy.Models.Ticket>
<div class="content-wrapper bg-cyan">
    <div class="container-fluid">

        <h2>New Tickets</h2>

        <table id="ticketTable" class="table">
            <thead>
                <tr>
                    <th>
                        Assigned To
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Project Name
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Title
                    </th>
                    @*<th>
                            Description
                        </th>*@
                    <th>
                        Created
                    </th>
                    @*<th>
                            Updated
                        </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Updated)
                            </td>*@
                        <td>
                            <div class="btn-group-vertical">
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-default" })

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>